.custom-upload .ant-upload-list-item-container {
  width: 60px !important;
  height: 60px !important;
}
.custom-upload .ant-upload.ant-upload-select {
  width: 60px !important;
  height: 60px !important;
}
